body:{
    margin:0 !important;
    padding:0;
}
.hide{
    display:none;
}

.head{
    height:65px;
    line-height:65px;
    text-align:center;
    font-size:18px;
    color:#FFF;
    background-color:rgb(55, 38, 129);
    text-transform: uppercase;
    font-weight:bold;
}

input[type=text]{
    width:90%;
    height:50px;
    font-size:30px;
    line-height:50px;
    border: 4px solid rgb(55, 38, 129);
    color:rgb(55, 38, 129);
    font-weight:bold;
    margin:0 auto 10px auto;
    border-radius:5px;
}

.txt{
    font-size:14px;
    color:rgb(55, 38, 129);
    font-weight:bold;
    margin:10px;
}